# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# only src files
!**/src/main/**
!**/src/test/**
# INTELLIJ
*.iws
*.iml
*.ipr
idea